body {
    background-color: #1d344a;
    color: black;
}

.grid {
    display: flex;
    max-width: 500px;
    background-color: red;
    border: solid white 2.5px;
    border-radius: 5px;
    gap: 0px;
}


.square {
    background-color: black;
    flex-grow: 1;
    flex-shrink: 0;
    border: solid white 0.1px;
}

.column {
    flex-basis: 6.25%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

/*@media only screen and (max-width: 600px) {
    .column {
        flex-basis: 100%;
    }
}