body,html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    align-self: center;
}

.main {
    display: flex;
    width: 1100px;
    height: 600px;
    flex-shrink: 1;
    background-color: #242424;
    border: solid white 5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.grid {
    display: flex;
    flex: 1 0 500px;
    max-width: 500px;
    max-height: 500px;
    border: solid white 5px;
    border-radius: 5px;
    gap: 0px;
}

.options {
    flex-grow: 1;
    flex-basis: 500px;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.square {
    background-color: black;
    flex-grow: 1;
    flex-shrink: 0;
}

.column {
    flex-basis: 6.25%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

/*@media only screen and (max-width: 600px) {
    .column {
        flex-basis: 100%;
    }
}