body {
    background-color: grey;
    color: black;
}

.grid {
    display: flex;
    gap: 0px;
    max-width: 900px;
    max-height: 900px;
    background-color: red;
}


.square {
    background-color: white;
    height: 50px;
    width: 50px;
    border: solid black 0.5px;
}

.column {
    flex-basis: 6.25%;
    background-color: blue;
    padding: 0px;
    margin: 0px;
    max-width: 50px;
}

/*@media only screen and (max-width: 600px) {
    .column {
        flex-basis: 100%;
    }
}